*{
	padding: 0px;
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
}

 body{
 	background: #EEF4F6;
 }

 .container {
 	background-color: #fff;
 	border-radius: 5px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	padding: 20px;
 	margin: 10px;
 	height: auto;
 }
/*The header section*/
.top-sect { text-align: center; color: #666666; }

.top-sect #title { display: inline-block; padding-top: 10px; }

.top-sect .close { float: right; display: inline-block; padding-right: 5px; }

.close span { font-size: 12px; }

.close p { font-size: 10px; }

/*Main Section*/
.main {
	width: 75%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}

.settings { margin-bottom: 30px; }

.settings #search { padding-right: 10px; color: #8091A5; }

.settings label { padding-right: 10px; font-size: 12px; }

.settings label span { color: #8091A5; }

/*Dropdown css*/
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid #DFE6EE;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #8091A5;
}

.dd-button:hover { background-color: #f1f1f1; }

.dd-input { display: none; }

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu { display: none; }

.dd-input:checked + .dd-menu { display: block; }

.dd-menu li { padding: 10px 20px; cursor: pointer; white-space: nowrap;
}

.dd-menu li:hover { background-color: #f6f6f6; }

.dd-menu li a { display: block; margin: -10px -20px; padding: 10px 20px; }

.btn {
	float: right;
	 display: inline-block;
	  border: 1px solid #DFE6EE;
	  border-radius: 30px;
	  padding: 10px 30px 10px 20px;
	  background-color: #f0f5f7;
	  font-size: 12px;
	  white-space: nowrap;
}

.btn span {color: #8091A5; }

.btn:hover {
	  background-color: #667587;
	  color: #fff;
}

.main .divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/*images*/
.content {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.responsive {
	width: 100%;
	height: auto;
}

.image-rounded {
	border-radius: 5px;
}
.card {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
	width: 172px;
	border-radius: 5px;
	margin: 10px;
}

.img{
	margin: 5px;
}

.text {
	margin: 5px;
	padding: 5px;
}

.text span {
	font-size: 16px;
	font-weight: 700;
	color: #313541;
}

.text p {
	font-size: 11px;
	color: #667587;
}
