.card {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 27%;
    color: white;
    background-color: #1f1f23;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.cancel {
    float: right;
}

.cart {
    margin-top: 20px;
    display: flex;
    padding: 0 10px 10px 10px;
}

.cart> :first-child {
    /* border: red solid 1px; */
    width: 30%;
}

.cart> :last-child {
    /* border: #fff solid 1px; */
    width: 70%;
    padding: 0 10px 10px 10px;
}

img {
    width: 100%;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.description {
    margin: 0;
    font-size: 12px;
}

.subtotal {
    font-family: 'Jura', sans-serif;
}

.subtotal span {
    float: right;
}

footer {
    text-align: center;
}

footer p {
    font-family: 'Jura', sans-serif;
    margin-bottom: 5px;
}

footer h5 {
    margin-top: 0;
    color: #5e5e61;
}

.inner-div {
    margin-top: 10px;
    display: flex;
    /* border: red solid 1px; */
    width: 100%;
}

.inner-div> :first-child {
    /* border: rgb(172, 161, 161) solid 1px; */
    width: 30%;
    display: flex;
    text-align: center;
}

.inner-div> :last-child {
    /* border: rgb(172, 161, 161) solid 1px; */
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.counter div:nth-of-type(1) {
    flex-grow: 1;
    border: rgb(172, 161, 161) solid 1px;
}

.counter div:nth-of-type(2) {
    flex-grow: 2;
    border: rgb(172, 161, 161) solid 1px;
}

.counter div:nth-of-type(3) {
    flex-grow: 1;
    border: rgb(172, 161, 161) solid 1px;
}

.red-x {
    color: #f10909;
    margin-right: 10px;
}

.btn.btn-primary {
    background: #f10909;
    border-color: #ee2a08;
    color: #fff;
    width: 100%;
    /* margin-left: 8px; */
}

.btn {
    background: #fff;
    border: .05rem solid #5755d9;
    border-radius: .1rem;
    color: #5755d9;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 2.6rem;
    line-height: 1rem;
    outline: 0;
    padding: .35rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

hr {
    border-top-color: #5e5e61;
    border-bottom-color: #5e5e61
}